.header {
    
    display: flex;
    padding: 1.25rem;

    &__logo {
        margin-left: 5rem;
        display: flex;
    }

    &__nav {
        display: flex;

        div {
            margin-right: 10px;
        }

        div:last-child {
            margin-right: 0;
        }

        a {
            color: gray;
        }

        div:hover {
            border-bottom: 5px solid lightgreen;
        }
    }

    &__btn {
       margin-right: 5rem;

       button {
           border-radius: 1.5rem;
           border: none;

           width: 160px;
           height: 45px;
           
           background: linear-gradient(to right, $LimeGreen, $BrightCyan);
           color: white;
       }
    }


}

